{
  "registration": {
    "valid": {
      "fullName": "John Doe",
      "email": "bilkaregistration",
      "password": "password"
    },
    "invalid": {
      "fullName": "n",
      "email": "mail?",
      "password": "p"
    },
    "tempEmailProvider": "yopmail.com"
  },
  "login": {
    "valid": {
      "email": "YOUR EMAIL HERE",
      "password": "YOUR PASSWORD HERE",
      "fullName": "YOUR NAME HERE"
    },
    "invalid": {
      "email": "somerandomemail@example.com",
      "password": "pwd"
    }
  }
}